:root {
	--main-background: #fdc435;
	--grey-background: #f2f2f2;
	--grey-out: hsl(40, 100%, 27%);
}

body {
	margin: auto;
	position:relative;
	background-color: #f2f2f2;
	font-family:"Helvetica";
	z-index: 1;
}

button {
	background-color: var(--main-background);
	border: solid white 1px;
	padding:8px;
	border-radius:10px;
	color:white;
	text-align: center;
}

#topBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	flex-direction: row;
	height:auto;
	background-color: var(--main-background);
	color:white;
	font-size:30px;
}

#chores {
	margin:15px;
}

#settings {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	margin:15px;
}

#gearBtn {
	background-color: var(--main-background);
	border:none;
	color:white;
}

#welcome {
	color:white;
	font-size:30px;
	margin-right:10px;
}

#main {
	display:flex;
	justify-content:center;
	align-content:center;
	flex-direction:column;
	z-index: 1;
}

#container {
	display:flex;
	justify-content:space-around;
	flex-direction:row;
	align-items:center;
}

#rewards {
	text-align: center;
	margin:15px;
}

#rewardsBtn {
	font-size:30px;
}

.itemImg {
	height:60px;
	width:60px;
	background-color: white;
	margin:5px;
}

.column {
	display:flex;
	flex-direction:column;
	border: solid grey 1px;
	height:600px;
	background:white;
	flex: 1 1 0;
	margin:20px 20px 20px 20px;
}

.title {
	color:var(--main-background);
	text-align:center;
	font-size:35px;
	border-bottom: solid grey 5px;
	margin:10px;
}

.item {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin:15px;
	padding:5px;
	font-size:25px;
	border: solid grey .05px;
	padding: 0px 10px 0px 10px;
}

#arrow {
	width:75px;
	background-color: #f2f2f2;
	margin:-10px;
}