body {
  margin: 0;
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

.nav-bar {
  /* background-color: lightgray; */
  overflow: hidden;
}

.logo {
  float: left;
  display: block;
  color: #FF8C00;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
}

.members-section {
  float: left;
  text-align: center;
  overflow: hidden;
}

.members-block {
  width: 200px;
  height: 75px;
  border-width: 1px;
  border-style: solid;
  background-color: lightgray;
}
