#newChore{
	height:450px;
	width:500px;
	padding:10px;
	margin:auto;
	border: solid grey 3px;
	display:flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	background-color: white;
	align-self: center;
	z-index: 1;
	margin-top:-560px;
	margin-left:400px;
	position: relative;
	border-radius: 10px;
}

#newchorePopup{
	font-size: 40px;
	color:var(--main-background);;
	text-align:center;
	margin-bottom:30px;
	border-bottom: solid grey 5px;
}

#newchorePopupClose {
	font-size: 25px;
	padding: 3px;
	width: 100px;
	height: 35px;
}

#save {
	font-size: 25px;
	padding: 3px;
	width: 100px;
	height: 35px;
}

#newchorePopupMain {
	display:grid;
	grid-template-rows: 10% 10% 10% 70%;
	grid-template-columns:30% 70%;
	grid-row-gap:30px;
	margin:10px;
}

#newchoreLabel1{
	font-size:20px;
	grid-column: 1;
	grid-row: 1;
	font-weight:bold;
}

#newchoreText {
	font-size:20px;
	grid-column: 2;
	grid-row: 1;
}

#newdateLabel {
	font-size:20px;
	grid-column: 1;
	grid-row: 2;
	font-weight:bold;
}

#newdateText {
	font-size:20px;
	grid-column: 2;
	grid-row: 2;
}

#newrewardLabel {
	font-size:20px;
	grid-column: 1;
	grid-row: 3;
	font-weight:bold;
}

#newrewardText {
	font-size:20px;
	grid-column: 2;
	grid-row: 3;
}

#newdetailsLabel {
	font-size:20px;
	grid-column: 1;
	grid-row: 4;
	font-weight:bold;
}

#newdetailsText {
	font-size:20px;
	grid-column: 2;
	grid-row: 4;
}
