#editChorePopup {
	height: 45vw;
	min-height: 450px;
	max-height: 550px;
    width: 50vw;
    padding:10px;
    top:25%;
    left:25%;
    margin:auto;
	border: solid grey 3px;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	align-self: center;
	background-color: white;
	position: fixed;
	border-radius: 10px;
	display:none;
}

#editTitle {
	font-size: 4vw;
	color:var(--main-background);
	text-align:center;
	margin-bottom:30px;
}

#buttonContainer {
	display:flex;
	flex-direction:row;
	margin-top:20px;
}

#editMain {
	display:grid;
	grid-template-rows: 10% 10% 10% 70%;
	grid-template-columns:30% 70%;
	grid-row-gap:30px;
	margin:10px;
	width:90%;
}


#editChoreLabel {
	font-size:2vw;
	grid-column: 1;
	grid-row: 1;
	font-weight:bold;
}

#editChoreText {
	font-size:2vw;
	grid-column: 2;
	grid-row: 1;
}

#editDateLabel {
	font-size:2vw;
	grid-column: 1;
	grid-row: 2;
	font-weight:bold;
}

#editDateText {
	font-size:2vw;
	grid-column: 2;
	grid-row: 2;
}

#editRewardLabel {
	font-size:2vw;
	grid-column: 1;
	grid-row: 3;
	font-weight:bold;
}

#editRewardText {
	font-size:2vw;
	grid-column: 2;
	grid-row: 3;
}

#editDetailsLabel {
	font-size:2vw;
	grid-column: 1;
	grid-row: 4;
	font-weight:bold;
	height:100px;
}

#editDetailsText {
	font-size:2vw;
	grid-column: 2;
	grid-row: 4;
}