:root {
	--main-background: var(--dark-blue);
	--main-text: #000000;
	--secondary-background: #9e9e9e;
	--secondary-border: #707070;
	--secondary-focus: #cfcfcf;
	--behind_tab: #E1E2E1;
	--final-background: #F5F5F6;
	
	--orange: #fdc435;
	--light-purple:#c78edb;
	--dark-purple:#6d189e;
	--cyan:#8cdbd7;
	--light-blue:#4286f4;
	--dark-blue:#194c9e;
	--light-pink:#ffbfea;
	--hot-pink:#fc0aec;
	--red:#c61b1b;
	--mint:#99db8c;
	--lime:#22e814;
	--dark-green:#11773f;
	--yellow:#e2d512;

}
html {
	display: flex;
	min-height: 100vh;
	margin: 0;
}
body {
	margin: 0px;
	min-height: 100vh;
	width: 100%;
	font-family: 'Lato';
	z-index: 1
}

button {
	background-color: var(--main-background);
	border: solid white 1px;
	padding:8px;
	border-radius:10px;
	color:white;
	text-align: center;
	cursor: pointer;
}

.itemImg {
	height:40px;
	width:40px;
	background-color: white;
	margin:5px;
}

.choreName {
	cursor:pointer;
}

.choreName:hover {
	color:var(--main-background);
	text-decoration: underline;
}

#container {
	display: grid;
	height: 100%;
	grid-template-columns: 130px auto;
	grid-template-rows: 60px auto;
}
#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	background-color: var(--main-background);
	color:white;
}
#sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	background-color: var(--behind_tab);
}
#center {
	height: 100%;
	width: 100%;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background-color: var(--final-background);
}
#inner {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	height: 95%;
	width: 95%;
	padding: 2.5%;
	margin: 0px;
}
#name {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
#name p {
	margin-right: 15px;
	font-size: 3.5em;
}
#incomplete {
	height: 100%
	grid-column: 1 / 2;
	grid-row: 2 / 6;
	display:flex;
	flex-direction:column;
	border: solid grey 1px;
	background:white;
	flex: 1 1 0;
	margin:20px 20px 20px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#new {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: center;

}
#newButton {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 50%;
	border: 2px var(--secondary-border) solid;
	background-color: var(--main-background);
	color:white;
	text-align:center;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#newButton p {
	font-size: 2em;
	font-weight: bold;
}
#newButton:hover {

	transform: scale(1.02);
}
#checkoff {
	height: 100%
	grid-column: 2 / 3;
	grid-row: 2 / 4;
	display:flex;
	flex-direction:column;
	border: solid grey 1px;
	background:white;
	flex: 1 1 0;
	margin:20px 20px 20px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#reward {
	height: 100%
	grid-column: 2 / 3;
	grid-row: 4 / 6;
	display:flex;
	flex-direction:column;
	border: solid grey 1px;
	border-radius: 10px;
	background:white;
	flex: 1 1 1;
	margin:20px 20px 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#right {
	display: flex;
	align-items: center;
}
#title {
	color: white;
	margin-left: 10px;
	font-size: 2em;
	font-weight: bold;
}
#welcome {
	font-size: 1.5em;
	margin-right: 10px;
}

#settings {
	margin-right: 5px;
	height: 35px;
	width: 35px;
	padding: 2px;
	font-size: 35px;
	background-color: var(--main-background);
	border-radius: 10px;
	cursor: pointer;
}

#settings:hover {
	transform: scale(1.04);
	color:var(--secondary-background);
}

#childChores {
	font-weight:bold;
}

.material-icons {
	cursor: pointer;
}

.material-icons.rewardsDoneCheckoff {
	margin-right: 5px;
	height: 35px;
	width: 35px;
	padding: 2px;
	font-size: 35px;
	background-color: var(--main-background);
	border-radius: 10px;
	color:white;
}

.material-icons.rewardsDoneCheckoff:hover {
	transform: scale(1.04);
	color:var(--secondary-background);
}

.material-icons.checkoffDone {
	margin-right: 5px;
	height: 35px;
	width: 35px;
	padding: 2px;
	font-size: 35px;
	background-color: var(--main-background);
	border-radius: 10px;
	color:white;
}

.material-icons.checkoffDone:hover {
	transform: scale(1.04);
	color:var(--secondary-background);
}

.tab {
	display: flex;
	width: 100%;
	height: 73px;
	margin-top: 5px;
	align-items: flex-start;
	justify-content: center;
	font-size: 1.5em;
	background-color: var(--secondary-background);
	cursor: pointer;
}

.tab:hover {
	background-color: var(--secondary-focus)
}
.tab p {
	width: 100%;
	margin-left: 15px;
	font-weight: bold;

}
.title {
	color:var(--main-background);
	text-align:center;
	font-size:35px;
	border-bottom: solid grey 5px;
	margin:10px;
	font-weight: bold;
	padding-bottom: 5px;
}

.item {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin:10px;
	padding:5px;
	font-size:25px;
	border-color: grey;
	border-width: thin;
	border-style: solid;
	border-radius: 10px;

}

.reward-item {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin:10px;
	padding:5px;
	font-size:25px;
	border-color: grey;
	border-width: thin;
	border-style: solid;
	border-radius: 10px;

}

.item:hover {
	border: solid var(--main-background) 0.5px;
	transform:scale(1.02);
	cursor: grab;
}

#editName {
	font-size: 30px;
	margin-top:10px;
	cursor: pointer;
	padding: 3px;
	background-color: var(--main-background);
	border-radius: 10px;
}

#editName:hover {
	transform: scale(1.02);
}

#deleteConfirmation {
	height:100px;
	width:250px;
	padding:10px;
	margin:auto;
	border: solid grey 3px;
	flex-direction: column;
	align-items: center;
	background-color: white;
	align-self: center;
	z-index: 1;
	position: relative;
	border-radius: 10px;
	font-size:20px;

	display:none;
	top:0;
}
