:root {
	--main-background: var(--dark-blue);
	--main-text: #000000;
	--secondary-background: #9e9e9e;
	--secondary-border: #707070;
	--secondary-focus: #cfcfcf;
	--behind_tab: #E1E2E1;
	--final-background: #F5F5F6;

	--orange: #fdc435;
	--light-purple:#c78edb;
	--dark-purple:#6d189e;
	--cyan:#8cdbd7;
	--light-blue:#4286f4;
	--dark-blue:#194c9e;
	--light-pink:#ffbfea;
	--hot-pink:#ff7ac9;
	--red:#c61b1b;
	--mint:#99db8c;
	--lime:#22e814;
	--dark-green:#11773f;
	--yellow:#e2d512;

}
html {
	display: flex;
	min-height: 100vh;
	margin: 0;
}
body {
	margin: 0px;
	min-height: 100vh;
	width: 100%;
	font-family: 'Lato';
	z-index: 1
}

button {
	background-color: var(--main-background);
	border: solid white 1px;
	padding:8px;
	border-radius:10px;
	color:white;
	text-align: center;
	cursor: pointer;
}

.itemImg {
	height:3vw;
	width:3vw;
	background-color: white;
	margin:5px;
}

.choreName {
	cursor:pointer;
}

.rewardName{
	cursor:grab;
}


#container {
	display: grid;
	height: 100%;
	grid-template-columns: 130px auto;
	grid-template-rows: 60px auto;
}
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	background-color: var(--main-background);
	color:white;
}
#sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	background-color: var(--behind_tab);
}

#center {
	height: 100%;
	width: 100%;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background-color: var(--final-background);
}
#inner {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	height: 95%;
	width: 95%;
	padding: 1%;
	margin: 0px;
}
#name {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#childChores{
	margin-right: 15px;
	font-size: 4.25vw;
	margin-left: 20px;
}
#incomplete {
	height: 100%;
	grid-column: 1 / 2;
	grid-row: 2 / 6;
	display:flex;
	flex-direction:column;
	border: solid grey 1px;
	background:white;
	flex: 1 1 0;
	margin:0px 0px 0px 20px;
	/*border-radius: 10px;*/
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}
#new {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: center;

}
#newButton {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 50%;
	border: 2px var(--secondary-border) solid;
	background-color: var(--main-background);
	color:white;
	text-align:center;
	/*border-radius: 10px;*/
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#newButton p {
	font-size: 2.25vw;
	font-weight: bold;
}
#newButton:hover {

	transform: scale(1.02);
}
#checkoff {
	height: 100%
	grid-column: 2 / 3;
	grid-row: 2 / 4;
	display:flex;
	flex-direction:column;
	border: solid grey 1px;
	background:white;
	flex: 1 1 0;
	margin:0px 0px 20px 20px;
	/*border-radius: 10px;*/
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}
#reward {
	height: 100%
	grid-column: 2 / 3;
	grid-row: 4 / 6;
	display:flex;
	flex-direction:column;
	border: solid grey 1px;
	/*border-radius: 10px;*/
	background:white;
	flex: 1 1 1;
	margin:0px 0px 0px 20px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}
#right {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	margin:15px;
}
#title {
	color: white;
	margin-left: 10px;
	font-size: 2em;
	font-weight: bold;
}
#welcome {
	font-size: 1.5em;
	margin-right: 10px;
}

#settings {
	margin-right: 5px;
	height: 35px;
	width: 35px;
	padding: 2px;
	font-size: 35px;
	background-color: var(--main-background);
	border-radius: 10px;
	cursor: pointer;
}

#settings:hover {
	transform: scale(1.04);
	color:var(--secondary-background);
}



.material-icons {
	cursor: pointer;
}

.material-icons.rewardsDoneCheckoff {
	margin-right: 5px;
	height: 2vw;
	width: 2vw;
	padding: 2px;
	font-size: 2vw;
	background-color: white;
	border: 4px var(--main-background) solid;
	border-radius: 10px;
	color:white;
}

.material-icons.rewardsDoneCheckoff:hover {
	transform: scale(1.04);
	color:var(--main-background);
}

.material-icons.checkoffDone {
	margin-right: 5px;
	height: 2vw;
	width: 2vw;
	padding: 2px;
	font-size: 2vw;
	background-color: white;
	border: 4px var(--main-background) solid;
	border-radius: 10px;
	color:white;
}

.material-icons.checkoffDone:hover {
	transform: scale(1.04);
	color:var(--main-background);
}

.tab {
	display: flex;
	width: 100%;
	height: 73px;
	margin-top: 5px;
	align-items: flex-start;
	justify-content: center;
	font-size: 1.5em;
	background-color: var(--secondary-background);
	cursor: pointer;
	color:white;
}

.tab:hover {
	background-color: var(--secondary-focus)
}
.tab p {
	width: 100%;
	margin-left: 15px;
	font-weight: bold;

}
.tabSelected {
	background-color: var(--main-background)
}

.title {
	color:var(--main-background);
	text-align:center;
	font-size:2.25vw;
	border-bottom: solid grey 5px;
	margin:10px;
	font-weight: bold;
	padding-bottom: 5px;
}

.item {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin: -1px -1px 0px -1px;
	padding:5px 30px 5px 10px;
	font-size:1.75vw;
	border-color: grey;
	border-width: thin;
	border-style: solid;
	/*border-radius: 10px;*/

}

.reward-item {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin:-1px -1px 0px -1px ;
	padding:5px 30px 5px 10px;
	font-size:1.75vw;
	border-color: grey;
	border-width: thin;
	border-style: solid;
	/*border-radius: 10px;*/

}

.reward-item:hover{
	background-color: lightgray;
}

.item:hover {
	/*border: solid var(--main-background) 0.5px;*/
	background-color: lightgray;
	cursor: pointer;
}

#editName {
	font-size: 30px;
	margin-top:10px;
	cursor: pointer;
	padding: 3px;
	background-color: var(--main-background);
	border-radius: 10px;
}

#editName:hover {
	transform: scale(1.02);
}

#deleteConfirmation {
	height: 65%;
    width: 50%;
    padding:10px;
    top:25%;
    left:25%;
	margin:auto;
	border: solid grey 3px;
	flex-direction: column;
	align-items: center;
	background-color: white;
	align-self: center;
	z-index: 1;
	position: fixed;
	border-radius: 10px;
	font-size:30px;
	display:none;

}


#sure{
	margin-top: 20%;
	margin-bottom: 20%;
	margin-left:15%;
	margin-right:10%;
	align-items: center;
}
#confirm{
	margin-left:25%;
	height: 10%;
	width:25%;
}

#cancel{
	height: 10%;
	width:25%;
}
.error {
	border: 2px solid red;
}

/* ON BOARDING STUFF */
#welcomePopup {
	height: auto;
  width: 30%;
	padding: 15px;
	position: fixed;
  margin: auto;
  top: 25%;
  left: 34%;
	border: solid grey 3px;
	border-radius: 10px;
	background-color: white;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	align-self: center;
	display:none;
}

#newChorePopup {
	height: auto;
	width: 30%;
	padding: 15px;
	position: fixed;
	margin: auto;
	top: 10%;
	left: 25%;
	border: solid grey 3px;
	border-radius: 10px;
	background-color: white;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	align-self: center;
	display:none;
	text-align: center;
}

#sidebarPopup {
	height: auto;
	width: 30%;
	padding: 15px;
	position: fixed;
	margin: auto;
	top: 25%;
	left: 15%;
	border: solid grey 3px;
	border-radius: 10px;
	background-color: white;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	align-self: center;
	display:none;
	text-align: center;
}

#rewardsPopup {
	height: auto;
	width: 30%;
	padding: 15px;
	position: fixed;
	margin: auto;
	top: 60%;
	left: 20%;
	border: solid grey 3px;
	border-radius: 10px;
	background-color: white;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	align-self: center;
	display:none;
	text-align: center;
}

#pendingPopup {
	height: auto;
	width: 30%;
	padding: 15px;
	position: fixed;
	margin: auto;
	top: 25%;
	left: 20%;
	border: solid grey 3px;
	border-radius: 10px;
	background-color: white;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	align-self: center;
	display:none;
	text-align: center;
}

#incompletePopup {
	height: auto;
	width: 30%;
	padding: 15px;
	position: fixed;
	margin: auto;
	top: 25%;
	left: 60%;
	border: solid grey 3px;
	border-radius: 10px;
	background-color: white;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	align-self: center;
	display:none;
	text-align: center;
}

#skip {
	padding-left: 27.5px;
	height: 50px;
	width: 100px;
	display:none;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
	border-color: white;
	border-width: 2px;
	margin-right: 25px;
}

#helpBtn {
	background-color: var(--main-background);
	border:none;
	color:white;
	cursor:pointer;
}

#helpBtn:hover {
	color: var(--secondary-background);
}

#help {
font-size: 35px !important;
}

.welcomeTo {
	font-size: 1.75vw;
	font-weight: bold;
	padding-top: 20px;
}

.welcomeChores {
	font-size: 1.75vw;
	font-weight: bolder;
	padding-top: 20px;
	color: var(--main-background);
}

.next {
	width: 100px;
	height: 50px;
	margin-top: 15px;
	font-size: 1.25vw;
}
