:root {
	--main-background: #fdc435;
	--grey-out: hsl(40, 100%, 27%);
}


#rewardsPopup {
	height:450px;
	width:500px;
	padding:10px;
	margin:auto;
	border: solid grey 3px;
	display:flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	background-color: white;
	align-self: center;
	z-index: 1;
	margin-top:-480px;
	position: relative;
	border-radius: 10px;
}

#rewardsPopupTitle {
	font-size: 40px;
	font-weight: bold;
	color:var(--main-background);;
	text-align:center;
	margin-bottom:30px;
	border-bottom: solid grey 5px;
}

#rewardsPopupClose {
	font-size: 25px;
	width:50%;
	margin-bottom:10px;
}

#rewardsPopupMain {
	margin:10px;
	flex-grow:1;
	width:100%;
}

.rewardsItem {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin:15px;
	padding:5px;
	font-size:25px;
	border: solid grey .05px;
	padding: 0px 10px 0px 10px;
	width:90%;
}

.remind {
	font-size:20px;
	background-color:var(--main-background);
	text-align: center;
	border-radius:10px;
}
