#settingsPopup {
	height: 45vw;
	min-height: 450px;
	max-height: 650px;
    width: 50vw;
	padding:10px;
	position: fixed;
    margin: auto;
    top: 25%;
    left: 25%;
	border: solid grey 3px;
	border-radius: 10px;
	background-color: white;
	z-index: 1;
	flex-direction: column;
	align-items: center;
	align-self: center;
	display:none;
}

#settingsPopupTitle {
	font-size: 4vw;
	color:var(--main-background);;
	text-align:center;
	margin-bottom:30px;
	border-bottom: solid grey 5px;
}

#settingsPopupMain {
	display:grid;
	grid-template-rows: 20% 80%;
	grid-template-columns:30% 70%;
	grid-row-gap:30px;
	margin:10px;
	width:85%;
	margin-bottom: 30px;
}

#viewKids {
	font-size: 2vw;
	width:50%;
}

#settingsPopupClose {
	margin-top:5px;
	font-size: 2vw;
	width:50%;
}

#nameLabel {
	font-size:2vw;
	grid-column: 1;
	grid-row: 1;
	font-weight:bold;
}

#nameText {
	font-size:2vw;
	grid-column: 2;
	grid-row: 1;
}

#colorLabel {
	font-size:2vw;
	grid-column: 1;
	grid-row: 2;
	font-weight:bold;
}

#colorPicker {
	display:grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto auto;
	grid-row-gap:15px;
	grid-column-gap:15px;
	height:100%;
}

.color {
	height:40px;
	border-radius: 50px;
	border: solid white 3px;
}

.color:hover {
	border:solid black 3px;
}

.colorSelected {
	height:40px;
	border-radius: 50px;
	border: solid black 3px;
}
