#settingsPopup {
	height:450px;
	width:500px;
	padding:10px;
	margin:auto;
	border: solid grey 3px;
	display:flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	background-color: white;
	align-self: center;
	z-index: 1;
	margin-top:-450px;
	position: relative;
}

#settingsPopupTitle {
	font-size: 40px;
	color:var(--main-background);;
	text-align:center;
	margin-bottom:30px;
	border-bottom: solid grey 5px;
}

#settingsPopupMain {
	display:grid;
	grid-template-rows: 20% 80%;
	grid-template-columns:30% 70%;
	grid-row-gap:30px;
	margin:10px;
	width:90%;
	margin-bottom: 75px;
}

#settingsPopupClose {
	font-size: 25px;
	width:50%;
}

#nameLabel {
	font-size:20px;
	grid-column: 1;
	grid-row: 1;
	font-weight:bold;
}

#nameText {
	font-size:20px;
	grid-column: 2;
	grid-row: 1;
}

#colorLabel {
	font-size:20px;
	grid-column: 1;
	grid-row: 2;
	font-weight:bold;
}

#colorPicker {
	display:grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto auto;
	grid-row-gap:15px;
	grid-column-gap:15px;
	height:100%;
}

.color {
	height:40px;
	border-radius: 50px;
}